<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.btncounterapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".music_app.TrackPlayerActivity"></activity>
        <activity
            android:name=".music_app.AlbumInfoActivity"
            android:parentActivityName=".music_app.MusicMainActivity" />
        <activity android:name=".AlbumInfoActivity" />
        <activity
            android:name=".music_app.ArtistInfoActivity"
            android:parentActivityName=".music_app.MusicMainActivity" />
        <activity android:name=".todo_list_app.TodoActivity" />
        <activity
            android:name=".todo_list_app.ShowTodoActivity"
            android:parentActivityName=".todo_list_app.TodoActivity" />
        <activity
            android:name=".todo_list_app.TodoMutationActivity"
            android:parentActivityName=".todo_list_app.TodoActivity" />
        <activity android:name=".calculator_app.CalculatorActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".camera_app.CameraActivity" />
        <activity android:name=".music_app.MusicMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".todo_list_app.services.ReminderReciver"
            android:enabled="true" />

        <service
            android:name=".todo_list_app.services.ReminderService"
            android:enabled="true" />
    </application>

</manifest>